<h1>Listing awesome_stuffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awesome_stuffs.each do |awesome_stuff| %>
      <tr>
        <td><%= awesome_stuff.name %></td>
        <td><%= link_to 'Show', awesome_stuff %></td>
        <td><%= link_to 'Edit', edit_awesome_stuff_path(awesome_stuff) %></td>
        <td><%= link_to 'Destroy', awesome_stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Awesome stuff', new_awesome_stuff_path %>
